# Database (Supabase - pooled connection)
# Add ?pgbouncer=true for transaction pooler compatibility
DATABASE_URL="postgresql://postgres.PROJECT_ID:[PASSWORD]@aws-1-eu-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# NextAuth
NEXTAUTH_URL="http://localhost:3001"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# App Config
NEXT_PUBLIC_SITE_URL="http://localhost:3001"
